<div>
    <h4>Modification du nombre de couverts</h4>
    <div class="input-group w-25">
        <span class="input-group-text" id="inputGroup-sizing-default">Nombre de couverts actuel</span>
        <input readonly type="text" class="form-control bg-white" value="10">
      </div>
    <div class="input-group w-25">
        <span class="input-group-text" id="inputGroup-sizing-default">Nouveau nombre de couverts</span>
        <input type="text" class="form-control">
    </div>
    <button class="btn btn-secondary">Enregistrer</button>
</div>

