<div class="container borderCust" style="margin-top: -200px;">
  <ngb-carousel
    #carousel
    [interval]="3000"
    [pauseOnHover]="pauseOnHover"
    [pauseOnFocus]="pauseOnFocus"
    (slide)="onSlide($event)"
    class="item"
  >
    <ng-template ngbSlide *ngFor="let img of images | keyvalue; index as i">
      <div class="carousel-caption">
        <h3 style="text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;">{{ img.value[0] }}</h3>
      </div>
      <a [href]="img.value[1]" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
          <img [src]="img.key" [alt]="img.value[0]" style="height: 650px;  width: 100%; object-fit: cover;"/>
        </div>
      </a>
    </ng-template>
  </ngb-carousel>
</div>  