      <!-- CATEGORIES -->
      <div class="row cats">
        <div id="list" class="col-3">
          <ul class="nav nav-pills nav-fill flex-column">
            <li class="nav-item ing2">
              <a class="nav-link bg-secondary text-white" aria-current="page" href="#v">Viandes</a>
            </li>
            <li class="nav-item ing2">
              <a class="nav-link bg-secondary text-white" href="#f">Fruits</a>
            </li>
            <li class="nav-item ing2">
              <a class="nav-link bg-secondary text-white" href="#l">Légumes</a>
            </li>
            <li class="nav-item ing2">
                <a class="nav-link bg-secondary text-white" aria-current="page" href="#c">Céréales</a>
            </li>
          </ul>
        </div>
          <div data-bs-spy="scroll" data-bs-target="#list" data-bs-offset="0" class="scrollspy-example div text col-5" tabindex="0">
              <div class="row div">
                <h4 id="v">Viandes et volailles</h4>
                <div class="float">
                    <button type="submit" class="btn-secondary btn-sm">Modifier qtés</button>
                </div>
              </div>
              <div>
                <form class="row ing2">
                    <label for="a" class="visually-hidden col">Poulet</label>
                    <input type="text" readonly class="form-control-sm col" id="a" value="80">
                    <label for="aa" class="visually-hidden col">Kg</label>
                </form>
                <form class="row ing2">
                    <label for="aaa" class="visully-hidden col">Steak</label>
                    <input type="text" readonly class="form-control-sm col" id="aaa" value="90">
                    <label for="aaaa" class="visually-hidden col">g</label>
                </form>
              </div>
              <div class="ing2">
                <div class="row div">
                  <h4 id="f">Fruits</h4>
                  <div class="float">
                      <button type="submit" class="btn-secondary btn-sm">Modifier qtés</button>
                  </div>
                </div>
                <div>
                  <form class="row ing2">
                      <label for="a" class="visually-hidden col">Pomme</label>
                      <input type="text" readonly class="form-control-sm col" id="a" value="80">
                      <label for="aa" class="visually-hidden col">Kg</label>
                  </form>
                  <form class="row ing2">
                      <label for="aaa" class="visully-hidden col">Poire</label>
                      <input type="text" readonly class="form-control-sm col" id="aaa" value="90">
                      <label for="aaaa" class="visually-hidden col">g</label>
                  </form>
                </div>
              </div>
              <div class="ing2">
                <div class="row div">
                  <h4 id="l">Légumes</h4>
                  <div class="float">
                      <button type="submit" class="btn-secondary btn-sm">Modifier qtés</button>
                  </div>
                </div>
                <div>
                  <form class="row ing2">
                      <label for="a" class="visually-hidden col">Courette</label>
                      <input type="text" readonly class="form-control-sm col" id="a" value="80">
                      <label for="aa" class="visually-hidden col">Kg</label>
                  </form>
                  <form class="row ing2">
                      <label for="aaa" class="visully-hidden col">Haricot</label>
                      <input type="text" readonly class="form-control-sm col" id="aaa" value="90">
                      <label for="aaaa" class="visually-hidden col">g</label>
                  </form>
                </div>
              </div>
              <div class="ing2">
                <div class="row div">
                  <h4 id="c">Céréales</h4>
                  <div class="float">
                      <button type="submit" class="btn-secondary btn-sm">Modifier qtés</button>
                  </div>
                </div>
                <div>
                  <form class="row ing2">
                      <label for="a" class="visually-hidden col">Blé</label>
                      <input type="text" readonly class="form-control-sm col" id="a" value="80">
                      <label for="aa" class="visually-hidden col">Kg</label>
                  </form>
                  <form class="row ing2">
                      <label for="aaa" class="visully-hidden col">Soja</label>
                      <input type="text" readonly class="form-control-sm col" id="aaa" value="90">
                      <label for="aaaa" class="visually-hidden col">g</label>
                  </form>
                </div>
              </div>
          </div>
          <div class="col-3 vente">
            <h4>Déclarer une vente</h4>
            <div class="ing2">
                <select class="form-select col">
                    <option selected>Creme chibouste</option>
                    <option value="1">Steak frites</option>
                </select>
                <form class="row ing2">
                    <label for="aaaaa" class="col">Qté vendue</label>
                    <input type="text" class="form-control-sm col" id="aaaaa">
                </form>
                <div class="ing2">
                    <button type="button" class="btn-sm btn-secondary">Confirmer la vente</button>
                </div>
            </div>
          </div>
      </div>
