.cats {
    padding-left: 4%;
    padding-top: 3%;
}

.but{
    padding-left: 4%;
}
.text {
    padding-left: 10%;
    padding-top: 1%;
}

.cat{
    padding-top: 5%;
}

.ing{
    padding-top: 7%;
}

.ing2{
    padding-top: 7%;
}

.vente{
    padding-left: 4%;
    padding-top: 1%;
}

.ing3{
    padding-top: 7%;
}