    <!--NAV BAR-->
   <div>   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">TopChef</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="#">Acceuil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Fiches</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Stock</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>

      <!-- CATEGORIES -->
      <div class="d-flex flex-row cats" style="height: 400px;">
        <ul class="nav nav-pills nav-fill flex-column col-3">
            <li class="nav-item cat">
              <a class="nav-link bg-secondary text-white" aria-current="page" href="#">Viandes</a>
            </li>
            <li class="nav-item cat">
              <a class="nav-link bg-secondary text-white" href="#">Fruits</a>
            </li>
            <li class="nav-item cat">
              <a class="nav-link bg-secondary text-white" href="#">Légumes</a>
            </li>
            <li class="nav-item cat">
                <a class="nav-link bg-secondary text-white" aria-current="page" href="#">Céréales</a>
            </li>
          </ul>
          <div class="text col-5">
              <div class="row">
                <h4>Viandes et volailles</h4>
                <div class="but">
                    <button type="submit" class="btn-secondary btn-sm">Modifier qtés</button>
                </div>
              </div>
              <div class="ing">
                <form class="row ing2">
                    <label for="staticEmail2" class="visually-hidden col">Poulet</label>
                    <input type="text" readonly class="form-control-sm col" id="a" value="80">
                    <label for="staticEmail2" class="visually-hidden col">Kg</label>
                </form>
                <form class="row ing2">
                    <label for="staticEmail2" class="visully-hidden col">Steak</label>
                    <input type="text" readonly class="form-control-sm col" id="aa" value="90">
                    <label for="staticEmail2" class="visually-hidden col">g</label>
                </form>
              </div>
          </div>
          <div class="col-3 vente">
            <h4>Déclarer une vente</h4>
            <div class="ing3">
                <select class="form-select col">
                    <option selected>Creme chibouste</option>
                    <option value="1">Steak frites</option>
                </select>
                <form class="row ing2">
                    <label for="staticEmail2" class="visually-hidden col">Qté vendue</label>
                    <input type="text" class="form-control-sm col" id="aaa">
                </form>
                <div class="ing3">
                    <button type="button" class="btn-sm btn-secondary">Confirmer la vente</button>
                </div>
            </div>
          </div>
      </div>
