<div id="containerResume" style="background-color: rebeccapurple;">
    <div id="leftResume" class="section"> 
        <div class="section" [innerHTML]="innerHtmlIngredients"></div>
    </div>
    <div id="rightResume" class="section"> 
        <div id="containerStages">
            <div id="leftResume" class="section"> 
                <label class="full">{{ i }}</label> 
            </div>
            <div id="rightResume" class="section full" [innerHTML]="innerHtmlStage"></div>
        </div>
    </div>
</div>