#leftResume {
    position: sticky;
    top: 0;
    box-sizing: border-box;
}
  
#rightResume { 
    border-left: 1px solid #e5e5e5;
}

#containerResume {
    display: grid;
    grid-template-columns: 50% 50%;
}

#containerStages {
    display: grid;
    grid-template-columns: 20% 80%;
}

.full {
    width: 100%; 
}
 
.section {
    padding: 15px;
  }