<!--NAV BAR-->
<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand tabPages" href="#">TopChef</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-5 mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link tabPages" routerLink="">Accueil</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link tabPages" routerLink="fiches">Création des fiches techniques</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link tabPages" routerLink="stock">Gestion du stock d'ingrédients</a></li>
      </ul>
    </div>
    <button mat-button routerLinkActive="active" routerLink="settings">
      <mat-icon style="color: whitesmoke;">settings</mat-icon>
    </button>
  </div>
</nav> 