
<h2 style="text-align: center; margin-bottom: 50px; margin-top: 100px;">Création de la fiche technique</h2> 
<div *ngIf="!firstStepOK" style="text-align: center;" class="container">
  <form [formGroup]="infoForm" (ngSubmit)="onNext()">
    <div>
      <div style="display:flex; flex-direction: row; justify-content: center">
        <mat-form-field class="marge" appearance="fill">
          <mat-label>Intitulé</mat-label>
          <input required matInput type="text" formControlName="name" autocomplete="off"> 
          <mat-error>
            Veuillez renseigner l'intitulé
          </mat-error> 
        </mat-form-field>
        <mat-form-field class="marge" appearance="fill">
          <mat-label>Nb. couverts</mat-label>
          <input required matInput type="number" min="0" formControlName="nbGuests" autocomplete="off"> 
          <mat-error>
            Veuillez renseigner un nombre de couverts supérieur à 0
          </mat-error> 
        </mat-form-field>
      </div>
      <div style="display:flex; flex-direction: row; justify-content: center">
        <mat-form-field class="marge" appearance="fill">
          <mat-label>Responsable</mat-label>
          <input required matInput type="text" formControlName="manager" autocomplete="off"> 
          <mat-error>
            Veuillez renseigner le responsable
          </mat-error> 
        </mat-form-field>  
        <mat-form-field class="marge" appearance="fill">
          <mat-label>Catégorie</mat-label>
          <mat-select required formControlName="category"> 
              <mat-option value="Entrée">Entrée</mat-option>
              <mat-option value="Plat">Plat</mat-option>
              <mat-option value="Dessert">Dessert</mat-option>
              <mat-option value="Accompagnement">Accompagnement</mat-option>
          </mat-select>
          <mat-error>
            Veuillez renseigner la catégorie
          </mat-error> 
        </mat-form-field>  
      </div>  
      <div style="margin: 40px 0px 40px; display:flex; flex-direction: row; justify-content: center;">
        <hr style=" border: 0; clear:both; display:block; width: 32%; background-color:#ced4da; height: 1px;"/>
      </div>
      <div style="display:flex; flex-direction: row; justify-content: center;">
        <mat-form-field class="marge" appearance="fill">
          <mat-label>Matériel spécifique</mat-label>
          <textarea matInput type="text" style="height: 60px;" placeholder="Casseroles" formControlName="matS" autocomplete="off"></textarea>  
        </mat-form-field>
        <mat-form-field class="marge" appearance="fill">
          <mat-label>Matériel de dressage</mat-label>
          <textarea matInput type="text" style="height: 60px;" placeholder="Couteaux" formControlName="matD" autocomplete="off"></textarea>  
        </mat-form-field>
      </div>      
      <div style="margin: 40px 0px 40px; display:flex; flex-direction: row; justify-content: center;">
        <hr style=" border: 0; clear:both; display:block; width: 32%; background-color:#ced4da; height: 1px;"/>
      </div>
      <div style="display:flex; flex-direction: row; justify-content: center;">
        <mat-form-field class="marge" appearance="fill">
          <mat-label>Coef. d'une vente (avec charges)</mat-label>
          <input matInput type="number" formControlName="coefVenteHT" autocomplete="off">  
        </mat-form-field>
        <mat-form-field class="marge" appearance="fill">
          <mat-label>Coef. d'une vente (hors charges)</mat-label>
          <input matInput type="number" formControlName="coefVenteTTC" autocomplete="off"> 
        </mat-form-field>
      </div>    
      <div style="display:flex; flex-direction: row; justify-content: center;">
        <mat-form-field class="marge" appearance="fill">
          <mat-label>Coût Horaire Fluide (en €)</mat-label>
          <input matInput type="number" formControlName="coutHFluide" autocomplete="off">  
        </mat-form-field>
        <mat-form-field class="marge" appearance="fill">
          <mat-label>Coût Horaire Moyen (en €)</mat-label>
          <input matInput type="number" formControlName="coutHMoyen" autocomplete="off">  
        </mat-form-field>
      </div>    
      <button mat-raised-button color="primary" style="margin-top:40px" type="submit">Suivant</button>
    </div>  
  </form>
</div>

<div *ngIf="firstStepOK" class="container">
  <form (ngSubmit)="onSubmitForm()">   
    <mat-tab-group mat-align-tabs="start" animationDuration="0ms">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon" style="margin-right: 8px;">edit</mat-icon> 
          Etape manuelle
        </ng-template>
        <div id="container" style="margin-top: 20px;">
          <div id="left" class="section">
            <label style="width:100%;">Ingrédients</label>
            <div #parent></div>
            <label [className]="displayErrorMessageI ? 'error' : 'invisible'"><small>Veuillez sélectionner un ingrédient et renseigner sa quantité avant d'ajouter un nouvel ingrédient</small></label>
            <button mat-raised-button color="primary" style="margin-top: 10px;" type="button" (click)="addIngredientForm()">Ajouter</button>
          </div>
          <div id="right" class="section">   
            <label style="width:100%;">Etape</label>
            <form [formGroup]="stageForm" (ngSubmit)="onValidateStage()" #fdStageForm="ngForm">
              <mat-form-field appearance="fill" class="fullResume">
                <mat-label>Nom de l'étape</mat-label>
                <input required matInput type="text" placeholder="Préparation de la crème" formControlName="stageName" autocomplete="off"> 
                <mat-error *ngIf="displayErrorMessageNoName ? 'error' : 'invisible'">
                  Veuillez renseigner le nom de l'étape
                </mat-error> 
              </mat-form-field>
              <mat-form-field appearance="fill" class="fullResume" style="margin-top: 10px;">
                <mat-label>Description</mat-label>
                <textarea required matInput type="text" style="height: 120px" placeholder="Dans un récipient..." formControlName="stageBody" autocomplete="off"></textarea>  
                <mat-error *ngIf="displayErrorMessageTA ? 'error' : 'invisible'">
                  Veuillez renseigner le contenu de l'étape
                </mat-error> 
              </mat-form-field> 
              <mat-form-field appearance="fill" class="fullResume" style="margin-top: 10px;">
                <mat-label>Durée</mat-label>
                <input matInput type="number" min="0" placeholder="60" formControlName="stageDuration" autocomplete="off">  
              </mat-form-field> 
              <button mat-raised-button color="primary" style="margin-top:10px;" class="r" type="submit">Valider cette nouvelle étape</button>
            </form>
          </div>  
        </div>
      </mat-tab>
      <mat-tab> 
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon" style="margin-right: 8px;">library_books</mat-icon>
          Etape existante
        </ng-template>
        <form [formGroup]="exMealGroup" (ngSubmit)="onValidateExistingStage()" style="padding: 40px 20px 0px" #fdExMealGroup="ngForm">
          <div style="overflow: auto">
            <mat-form-field appearance="fill" style="width: 75%; margin-right: 30px;">
              <mat-label>Etape</mat-label>
              <mat-select [(ngModel)]="selectedExistingMeal" formControlName="mealSelectedGroup" (ngModelChange)="onChange($event)">
                <mat-option *ngFor="let existingMeal of mealService.meals | async" [value]="existingMeal">
                  <div *ngIf="existingMeal.name; else hasNoName" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden; color: gray;">
                    <span style="color: black">{{ existingMeal.name }} </span>
                    <span>
                      <span *ngIf="existingMeal.stageList.length > 0">(</span>
                      <span *ngFor="let stage of existingMeal.stageList; let isLast = last">
                        <div *ngIf="stage.name; then stageHasName else stageHasNoName"></div>
                        <ng-template #stageHasName>{{ stage.name }}</ng-template>
                        <ng-template #stageHasNoName>Sans titre</ng-template>
                      <span *ngIf="!isLast">, </span></span><span *ngIf="existingMeal.stageList.length > 0">)</span> 
                    </span> 
                  </div> 
                  <ng-template #hasNoName>Aucune fiche technique enregistrée</ng-template> 
                </mat-option>
              </mat-select>
            </mat-form-field>  
            <mat-form-field appearance="fill" style="width: auto">
              <mat-label>Nb. Couverts</mat-label>
              <input required matInput type="number" min="0" placeholder="8" formControlName="mealNbGuests" autocomplete="off">  
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" style="margin-top:10px; margin: 0px 20px 20px;" class="r" type="submit">Valider cette étape existante</button>  
        </form>
      </mat-tab> 
    </mat-tab-group> 
    <hr/> 
    <div cdkDropList class="example-list example-boundary" *ngIf="displayStageList" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let stage of this.listStages; let index = index" cdkDrag cdkDragBoundary=".example-boundary"> 
        <div class="containerResume">
          <div class="leftResume sectionResume fullResume"> 
            <div *ngIf="stage.ingredients && stage.ingredients.length > 0; else noIngredients" class="sectionResume">  
              <div *ngFor="let ing of stage.ingredients">• 
                <ng-container class="float:left">{{ getValueByKey(ing, "quantity") }} </ng-container> 
                <ng-container class="float:left">{{ getValueByKey(ing, "unit") }} </ng-container> 
                <ng-container class="float:left">{{ getValueByKey(ing, "name") }}</ng-container>
              </div>   
            </div>
            <ng-template #noIngredients>
              <div class="sectionResume">
                <label><i>Aucun ingrédient n'est nécessaire</i></label> 
              </div>
            </ng-template>
          </div>
          <div class="rightResume sectionResume fullResume"> 
            <div class="containerStages">
              <div class="leftResume sectionResume"> 
                <label class="fullResume" style="font-size: x-large;">{{index + 1}}</label> 
              </div>
              <div class="rightResume sectionResume">
                  <div class="containerHandler">
                    <div class="leftResume" style="margin-right: 15px;"> 
                        <div class="fullResume long-and-truncated" [innerHTML]="stage.name" style="font-weight: bold;"></div> 
                        <div *ngIf="stage.duration; else noDuration" class="fullResume long-and-truncated" style="margin-top: 8px;" 
                          [innerHTML]="stage.description + ' (' +  stage.duration + ')'">
                        </div>  
                        <ng-template #noDuration>
                          <div class="fullResume long-and-truncated" style="margin-top: 8px;" [innerHTML]="stage.description + ' (durée indeterminée)'"></div> 
                        </ng-template>
                    </div>
                    <div style="display: flex; flex-wrap: wrap; justify-content: center">
                      <div class="example-handle" cdkDragHandle>
                        <svg width="24px" fill="#ced4da">
                            <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                            <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                      <button mat-icon-button class="icon-button-small" style="position: absolute; margin-top: 30px;" type='button' (click)="deleteStage(stage)">
                        <mat-icon style="color: #ced4da;">delete</mat-icon>
                      </button> 
                    </div> 
                  </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
    <button *ngIf="listStages.length > 0" mat-raised-button color="primary" style="margin-top:10px;" class="r" type="submit">Enregistrer la fiche technique</button>
  </form> 
  <div style="height: 20px;"></div>  
</div>
