<div>
    <h3 style='text-align: left;'>{{name}}</h3>
    <div class='row' style="margin-left: 1%;">
        <div style="width: 25%;">
            <form>
                <div style="font-size: 15px;">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <input matInput [formControl]="valueControl" placeholder="{{value}}">
                    </mat-form-field>
                </div>
            </form>
        </div>
        
        <div style="margin-top: 2.5%; margin-left: 5%;">
            <button *ngIf="val" type="button" (click)="modify()" mat-raised-button color="primary">
                <mat-icon>edit</mat-icon></button>
            <button *ngIf="modif" type="button" (click)="validate()" mat-raised-button color="primary">
                <mat-icon>check_circle_outline</mat-icon></button>
        </div>
    </div>
    <hr style="width: 75%; margin-right: 50%; margin-top: 7%;">
</div>  
