<div>
  <mat-form-field appearance="fill" style="width: 38%; margin-right: 4%;"> 
    <mat-label>Quantité</mat-label>
    <input matInput (keyup)="onKey($event)" placeholder="Ex. 1.5"> 
    <span matSuffix>{{selectedIng.unit}}&nbsp;</span> 
  </mat-form-field> 
  <mat-form-field appearance="fill" style="width: 58%;">
    <mat-label>Ingrédient</mat-label>
    <mat-select [(ngModel)]="selectedIng">
      <mat-option *ngFor="let ingredient of ingredients | async"  [value]="ingredient">{{ ingredient.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>