<div style="display:flex; flex-direction: row; margin-bottom:10px;">
    <div class="input-group">
      <input 
        (keyup)="onKey($event)"
        class="form-control input-group-prepend"
        aria-label="Amount (to the nearest dollar)"
        placeholder="Ex. 1.5"
      />
      <div class="input-group-append">
        <label 
        style="width: 50px;"
          id="lbl"
          class="input-group-text"
          for="inputGroupSelect01"
          >{{selectedFood.unit}}</label
        >
        <select
          style="border-bottom-left-radius:0px;border-top-left-radius:0px;"
          class="custom-select input-group-append"
          id="inputGroupSelect01"
          [ngModel]="selectedFood"
          (ngModelChange)="onChange($event)"
          name="sel2"
        >
          <option
            [ngValue]="food"
            *ngFor="let food of foods; first as isFirst"
            [disabled]="isFirst"
          >
            {{ food.name }}
          </option>
        </select>
      </div>
    </div>
  </div>
  