<div>
    <h4>Sortie d'étiquettes</h4>
    <div class="input-group w-25">
        <span class="input-group-text" id="inputGroup-sizing-default">Quantité à sortir</span>
        <input type="text" class="form-control">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Ces sorties sont des ventes
        </label>
    </div>
        <button class="btn btn-secondary">Sortir les étiquettes</button>
</div>
