<div id="containerResume">
    <div id="leftResume" class="section"> 
        <div class="section">{{ innerHtmlIngredients }}</div> 
    </div>
    <div id="rightResume" class="section"> 
        <div id="containerStages">
            <div id="leftResume" class="section"> 
                <label class="full">{{ i }}</label> 
            </div>
            <div id="rightResume" class="section">
                <label class="full">{{ innerHtmlStage }}</label>
            </div>
        </div>
    </div>
</div>