table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd; 
    text-align: center;
    padding: 6px 0px 6px;
    word-break: break-all; 
    overflow: auto;
    vertical-align: text-top;
} 

.midcol {
    border-bottom: solid white;
}  

.title {
    background-color: lightgray; 
}

.min-height { 
    height: 1100px;
}
