<h2 style="text-align: center; margin-top: 1%;">Gestion du stock</h2>
<hr style="width: 50%;">

<div style="margin-left: 10%; margin-right: 10%; margin-top: 3%; width: 75%;">
  <mat-tab-group>
    <mat-tab label="Viandes et Volailles">
      <app-category-list [category]='category1'></app-category-list>
    </mat-tab>
    <mat-tab label="Fruits et Légumes">
      <app-category-list [category]='category2'></app-category-list>
    </mat-tab>
    <mat-tab label="Cremerie">
      <app-category-list [category]='category3'></app-category-list>
    </mat-tab>
    <mat-tab label="Epicerie">
      <app-category-list [category]='category4'></app-category-list>
    </mat-tab>
    <mat-tab label="Poissons et Crustacés">
      <app-category-list [category]='category5'></app-category-list>
    </mat-tab>
  </mat-tab-group>
</div>

<h2 style="text-align: center; margin-top: 5%;">Déclarations de ventes</h2>
<hr style="width: 50%;">
<div style='margin-left: 10%; margin-right: 10%; width: 25%; margin-top: 3%;'>
  <mat-tab-group>
    <mat-tab label="Vente de plats"> <app-decla-vente></app-decla-vente> </mat-tab>
  </mat-tab-group>
</div>
